@font-face {
    font-family: "Ananda";
                 src: url("/fonts/Ananda.ttf");
  }


body html{
    padding: 0;
}

.pealkiri {
    font-family: "Ananda";
    font-size:3rem;
    
}

.lingid {
    font-size:1.5rem;

}

a + a {
    margin-left: 2rem;
}